<div class="alert alert-info"
     *ngIf="!(loaded$ | async)">
  <h3>Still Loading your stuff</h3>
  <img src="https://media.giphy.com/media/xTkcEQACH24SMPxIQg/giphy.gif"
       alt="loading">
</div>
<div class="row"
  *ngIf="(loaded$ | async)">
  <div class="col-2">
    <ul class="nav flex-column nav-pills">
      <li class="nav-item">
        <a href=""
        class="nav-link"
        [routerLink]="['dashboard']"
        [routerLinkActive]="['active']">
      Overview</a>
      </li>
      <li class="nav-item">
        <a href=""
        class="nav-link"
        [routerLink]="['list']"
        [routerLinkActive]="['active']">
      List</a>
      </li>
      <li class="nav-item">
        <a href=""
        class="nav-link"
        [routerLink]="['create']"
        [routerLinkActive]="['active']">
      Create</a>
      </li>
    </ul>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
