a {
  padding:5px;
  text-decoration: none;
  color: navy;
  background-color: lightblue;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
  font-size: 12px;
}
a:hover {
  background-color: lightseagreen;
}

nav {
  margin-top: 20px;
}


